body {
  font-family: Comic Sans MS, Comic Sans;
  margin: 20px;
  background: #f96d06;
  color: black;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td{
  padding: 10px;
  border: 1px solid #000000;
  text-align: left;
}
th{
  background-color: #f2f2f2;
}

th:hover, td:hover{
  background-color: #FF0000;
}

html {
background-color: rgb(83, 10, 10);
}